nav{
  @include clearfix();
  top:0;
  height: $nav-height-xl;
  position: absolute;
  z-index: index($elements, nav);
  background-color:color(elements, nav);
  border-bottom: 1px solid color(blue-color);
  box-shadow: .1rem .1rem 1rem .4rem color(comp, shade);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .logo{
  @include span(4);
  @include box-sizing(border-box);
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo > #logo-text{
  font-weight: 300;
  text-transform: uppercase;
}

img#ninja-img{
  height: 3.5rem;
}

nav > .span-8{
  @include box-sizing(border-box);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .span-8 > li{
  padding: .5rem;
  list-style: none;
  text-transform: uppercase;
}

nav > .span-8 > li.current{
  border-bottom: 1px solid color(comp, border-light)
}

nav > .span-8 > li > a{
  color:color(greyscale-color);
}
