<% title controller_name + " " + action_name %>
<header class="subtitle-index-header">
  <h1>Listing Subtitles</h1>
</header>

<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |subtitle| %>
        <tr> 
            <td><%= link_to subtitle.title, youtube_filter_subtitle_path(subtitle) %></td> 
        </tr>
    <% end %>
  <tbody>


</table>

<br>
