//------------------------------------------------------------------------------
// 
//------------------------------------------------------------------------------
aside{
    padding:0;
}

aside > h4{
    text-align:center;
    font-weight:100;
    background-color: black;
    border-bottom: 1px solid color(blue-color);
    padding-bottom: .5rem;
    margin-bottom: 0;
}

aside > ul{
    padding:0;
}


aside > ul > li{
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-weight: 300;
    &:hover{
        background:color(greyscale-color, blackest);
        border-top:1px solid black;
        transition:  all .5s ease;
    }
}


li > i{
    color: color(blue-color);
    display: flex;
    padding-left:1rem;
    //flex-direction: row;
    //flex-direction: column;
}

li:last-child{
    border-bottom: 1px solid color(greyscale-color, blackest);

}

aside > ul > li > a{
    color: color(greyscale-color);
    text-transform: capitalize;
    //padding-left:.5rem;
    padding: 1rem;
    width:100%;
}

aside > ul > li > a.active{
    color: color(blue-color);
    text-transform: capitalize;
}
//------------------------------------------------------------------------------
// subtitle index
//------------------------------------------------------------------------------

/* code for article index */

//------------------------------------------------------------------------------
// subtitle show
//------------------------------------------------------------------------------

td.sub-word{
    color: color(greyscale-color);
    font-weight:300;
}

span.mins{
    font-weight:300;
}
//------------------------------------------------------------------------------
// article show
//------------------------------------------------------------------------------

/* code for article show */

//------------------------------------------------------------------------------
// gallery index
//------------------------------------------------------------------------------

/* code for gallery index */

//------------------------------------------------------------------------------
// gallery show
//------------------------------------------------------------------------------

/* code for gallery show */

//------------------------------------------------------------------------------
// media index
//------------------------------------------------------------------------------

/* code for gallery index */

//------------------------------------------------------------------------------
// media show
//------------------------------------------------------------------------------

/* code for gallery show */

//------------------------------------------------------------------------------
// blog index
//------------------------------------------------------------------------------

/* code for gallery index */

//------------------------------------------------------------------------------
// blog show
//------------------------------------------------------------------------------

/* code for gallery show */
