<nav>
  <div class="logo">
    <%= image_tag("ninja.png", class: "span-3", id: "ninja-img") %>
    <div class="span-9" id="logo-text">youtube filter</div>
  </div>
    <div class="span-8">
        <li> <%= nav_link "subtitles", youtube_filter_subtitles_path %> </li>
    </div>
</nav>

